TelaFarmaPopTec/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CpfCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="ArrayOfCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCliente" nillable="true" type="tns:ArrayOfCliente" />
  <xs:complexType name="ArrayOfVenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venda" nillable="true" type="tns:Venda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenda" nillable="true" type="tns:ArrayOfVenda" />
  <xs:complexType name="Venda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="DataVenda" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Funcionario" nillable="true" type="tns:Funcionario" />
      <xs:element minOccurs="0" name="NumVenda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venda" nillable="true" type="tns:Venda" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodFuncionario" type="xs:int" />
      <xs:element minOccurs="0" name="CpfFuncionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuncaoFuncionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeFuncionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenhaUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
  <xs:complexType name="ArrayOfFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario" nillable="true" type="tns:Funcionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario" nillable="true" type="tns:ArrayOfFuncionario" />
</xs:schema>