TelaFarmaPopTec/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61858/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" />
  <xs:element name="CadastrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="cliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="cliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ConsultarClienteResult" nillable="true" type="q5:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarClientesResult" nillable="true" type="q6:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendaCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="cliente" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendaClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarVendaClienteResult" nillable="true" type="q8:ArrayOfVendaProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="cliente" nillable="true" type="q9:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaCpfCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaCpfClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaCpfClienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="funcionario" nillable="true" type="q10:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="funcionario" nillable="true" type="q11:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="funcionario" nillable="true" type="q12:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q13:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ConsultarFuncionarioResult" nillable="true" type="q14:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarFuncionariosResult" nillable="true" type="q15:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="funcionario" nillable="true" type="q16:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteFuncionarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCpfFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCpfFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCpfFuncionarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="funcionario" nillable="true" type="q17:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="LogarResult" nillable="true" type="q18:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="compra" nillable="true" type="q19:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="compra" nillable="true" type="q20:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="compra" nillable="true" type="q21:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarCompraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q22:Compra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ConsultarCompraResult" nillable="true" type="q23:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarComprasResult" nillable="true" type="q24:ArrayOfCompra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="fornecedor" nillable="true" type="q25:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="fornecedor" nillable="true" type="q26:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFornecedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFornecedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarFornecedorResult" nillable="true" type="q27:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q28:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ConsultarFornecedorResult" nillable="true" type="q29:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="fornecedor" nillable="true" type="q30:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeFornecedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCnpj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnpj" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarCnpjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarCnpjResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprasComFornecedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q31:Fornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarComprasComFornecedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarComprasComFornecedorResult" nillable="true" type="q32:ArrayOfFornecedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q33:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q34:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q35:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DesativarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q36:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesativarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtivarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q37:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtivarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="filtro" nillable="true" type="q38:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ConsultarProdutoResult" nillable="true" type="q39:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrocarProduto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TrocarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarProdutosResult" nillable="true" type="q40:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="produto" nillable="true" type="q41:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSaldoProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codProdruto" type="xs:int" />
        <xs:element minOccurs="0" name="qtd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarSaldoProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="venda" nillable="true" type="q42:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="venda" nillable="true" type="q43:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numVenda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarVendaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarVendasResult" nillable="true" type="q44:ArrayOfVendaProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numVenda" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarVendaResult" nillable="true" type="q45:ArrayOfVendaProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendaAtendente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="venda" nillable="true" type="q46:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVendaAtendenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="ListarVendaAtendenteResult" nillable="true" type="q47:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" minOccurs="0" name="venda" nillable="true" type="q48:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarDuplicidadeVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarDuplicidadeVendaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>