TelaFarmaPopTec/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61858/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61858/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61858/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.classesBasicas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CadastrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendaCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidaCpfCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaCpfCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidaCpfCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaCpfClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarFuncionarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFuncionarios" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarFuncionarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarCpfFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCpfFuncionario" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarCpfFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCpfFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Logar_InputMessage">
    <wsdl:part name="parameters" element="tns:Logar" />
  </wsdl:message>
  <wsdl:message name="IService1_Logar_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_CancelarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCompra_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCompra" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarCompra_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCompraResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCompras_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCompras" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarCompras_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarComprasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarCnpj_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCnpj" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidarCnpj_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCnpjResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarComprasComFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarComprasComFornecedor" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarComprasComFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarComprasComFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DesativarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:DesativarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_DesativarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesativarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AtivarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:AtivarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_AtivarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtivarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_ConsultarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TrocarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:TrocarProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_TrocarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrocarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutos" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarSaldoProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarSaldoProduto" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarSaldoProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarSaldoProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarVenda" />
  </wsdl:message>
  <wsdl:message name="IService1_CadastrarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVenda" />
  </wsdl:message>
  <wsdl:message name="IService1_AlterarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarVenda" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendas" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVenda" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendaAtendente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendaAtendente" />
  </wsdl:message>
  <wsdl:message name="IService1_ListarVendaAtendente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVendaAtendenteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeVenda" />
  </wsdl:message>
  <wsdl:message name="IService1_VerificarDuplicidadeVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarDuplicidadeVendaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CadastrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarCliente" message="tns:IService1_CadastrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarClienteResponse" message="tns:IService1_CadastrarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarCliente" message="tns:IService1_AlterarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarClienteResponse" message="tns:IService1_AlterarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarCliente" message="tns:IService1_DeletarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarClienteResponse" message="tns:IService1_DeletarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarCliente" message="tns:IService1_ConsultarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarClienteResponse" message="tns:IService1_ConsultarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarClientes" message="tns:IService1_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarClientesResponse" message="tns:IService1_ListarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVendaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarVendaCliente" message="tns:IService1_ListarVendaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarVendaClienteResponse" message="tns:IService1_ListarVendaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeCliente" message="tns:IService1_VerificarDuplicidadeCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeClienteResponse" message="tns:IService1_VerificarDuplicidadeCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaCpfCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidaCpfCliente" message="tns:IService1_ValidaCpfCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidaCpfClienteResponse" message="tns:IService1_ValidaCpfCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarFuncionario" message="tns:IService1_CadastrarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarFuncionarioResponse" message="tns:IService1_CadastrarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarFuncionario" message="tns:IService1_AlterarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarFuncionarioResponse" message="tns:IService1_AlterarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarFuncionario" message="tns:IService1_DeletarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarFuncionarioResponse" message="tns:IService1_DeletarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarFuncionario" message="tns:IService1_ConsultarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarFuncionarioResponse" message="tns:IService1_ConsultarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFuncionarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarFuncionarios" message="tns:IService1_ListarFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarFuncionariosResponse" message="tns:IService1_ListarFuncionarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExisteFuncionario" message="tns:IService1_ExisteFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExisteFuncionarioResponse" message="tns:IService1_ExisteFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCpfFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarCpfFuncionario" message="tns:IService1_ValidarCpfFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarCpfFuncionarioResponse" message="tns:IService1_ValidarCpfFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Logar" message="tns:IService1_Logar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogarResponse" message="tns:IService1_Logar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarCompra" message="tns:IService1_CadastrarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarCompraResponse" message="tns:IService1_CadastrarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarCompra" message="tns:IService1_AlterarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarCompraResponse" message="tns:IService1_AlterarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CancelarCompra" message="tns:IService1_CancelarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CancelarCompraResponse" message="tns:IService1_CancelarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompra">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarCompra" message="tns:IService1_ConsultarCompra_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarCompraResponse" message="tns:IService1_ConsultarCompra_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCompras">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarCompras" message="tns:IService1_ListarCompras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarComprasResponse" message="tns:IService1_ListarCompras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarFornecedor" message="tns:IService1_CadastrarFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarFornecedorResponse" message="tns:IService1_CadastrarFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarFornecedor" message="tns:IService1_AlterarFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarFornecedorResponse" message="tns:IService1_AlterarFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarFornecedor" message="tns:IService1_ListarFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarFornecedorResponse" message="tns:IService1_ListarFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarFornecedor" message="tns:IService1_ConsultarFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarFornecedorResponse" message="tns:IService1_ConsultarFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeFornecedor" message="tns:IService1_VerificarDuplicidadeFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeFornecedorResponse" message="tns:IService1_VerificarDuplicidadeFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCnpj">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidarCnpj" message="tns:IService1_ValidarCnpj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidarCnpjResponse" message="tns:IService1_ValidarCnpj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarComprasComFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarComprasComFornecedor" message="tns:IService1_ListarComprasComFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarComprasComFornecedorResponse" message="tns:IService1_ListarComprasComFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarProduto" message="tns:IService1_CadastrarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarProdutoResponse" message="tns:IService1_CadastrarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarProduto" message="tns:IService1_AlterarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarProdutoResponse" message="tns:IService1_AlterarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarProduto" message="tns:IService1_DeletarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarProdutoResponse" message="tns:IService1_DeletarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesativarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DesativarProduto" message="tns:IService1_DesativarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DesativarProdutoResponse" message="tns:IService1_DesativarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtivarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AtivarProduto" message="tns:IService1_AtivarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AtivarProdutoResponse" message="tns:IService1_AtivarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ConsultarProduto" message="tns:IService1_ConsultarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ConsultarProdutoResponse" message="tns:IService1_ConsultarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrocarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TrocarProduto" message="tns:IService1_TrocarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TrocarProdutoResponse" message="tns:IService1_TrocarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarProdutos" message="tns:IService1_ListarProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarProdutosResponse" message="tns:IService1_ListarProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeProduto" message="tns:IService1_VerificarDuplicidadeProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeProdutoResponse" message="tns:IService1_VerificarDuplicidadeProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarSaldoProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarSaldoProduto" message="tns:IService1_AlterarSaldoProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarSaldoProdutoResponse" message="tns:IService1_AlterarSaldoProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CadastrarVenda" message="tns:IService1_CadastrarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CadastrarVendaResponse" message="tns:IService1_CadastrarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AlterarVenda" message="tns:IService1_AlterarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AlterarVendaResponse" message="tns:IService1_AlterarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarVenda" message="tns:IService1_DeletarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarVendaResponse" message="tns:IService1_DeletarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVendas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarVendas" message="tns:IService1_ListarVendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarVendasResponse" message="tns:IService1_ListarVendas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarVenda" message="tns:IService1_ListarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarVendaResponse" message="tns:IService1_ListarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVendaAtendente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListarVendaAtendente" message="tns:IService1_ListarVendaAtendente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListarVendaAtendenteResponse" message="tns:IService1_ListarVendaAtendente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeVenda" message="tns:IService1_VerificarDuplicidadeVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/VerificarDuplicidadeVendaResponse" message="tns:IService1_VerificarDuplicidadeVenda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CadastrarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVendaCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarVendaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarDuplicidadeCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCpfCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidaCpfCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFuncionarios">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/ExisteFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCpfFuncionario">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarCpfFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logar">
      <soap:operation soapAction="http://tempuri.org/IService1/Logar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/CancelarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCompra">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCompras">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarCompras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarDuplicidadeFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCnpj">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidarCnpj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarComprasComFornecedor">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarComprasComFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesativarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/DesativarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtivarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/AtivarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/ConsultarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrocarProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/TrocarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProdutos">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarDuplicidadeProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarSaldoProduto">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarSaldoProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarVenda">
      <soap:operation soapAction="http://tempuri.org/IService1/CadastrarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarVenda">
      <soap:operation soapAction="http://tempuri.org/IService1/AlterarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarVenda">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVendas">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarVendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVenda">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVendaAtendente">
      <soap:operation soapAction="http://tempuri.org/IService1/ListarVendaAtendente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarDuplicidadeVenda">
      <soap:operation soapAction="http://tempuri.org/IService1/VerificarDuplicidadeVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61858/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>